:root {
    --action-form-button-fg: var(--button-fg);
    --action-form-button-hover-fg: var(--button-fg);

    --action-form-button-bg: var(--default-button-bg);
    --action-form-button-hover-bg: var(--default-button-hover-bg);

    --action-form-close-button-bg: var(--close-button-bg);
    --action-form-close-button-hover-bg: var(--close-button-hover-bg);

    --action-form-close-button-fg: var(--button-fg);
    --action-form-close-button-hover-fg: var(--button-fg);
}

select.admin-actionform-autocomplete {
    width: 20em;
}

/* "Confirm" button */
.action-form form input[type="submit"] {
    background: var(--action-form-button-bg);
    border-radius: 4px;
    padding: 10px 15px;
    color: var(--action-form-button-fg);
}
.action-form form input[type="submit"]:hover {
    background: var(--action-form-button-hover-bg);
    color: var(--action-form-button-hover-fg);
}

/* "Cancel" button */
.action-form form .cancel-link {
    background: var(--action-form-close-button-bg);
    padding: 10px 15px;
    color: var(--action-form-close-button-fg);
    margin: 0 0 0 10px;
}
.action-form form .cancel-link:hover {
    background: var(--action-form-close-button-hover-bg);
    color: var(--action-form-close-button-hover-fg);
}
