{% extends "admin/base_site.html" %}
{% load i18n static %}


{% block extrahead %}
    {{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    <script src="{% static 'admin/js/core.js' %}" ></script>
    <script src="{% static 'admin/js/cancel.js' %}" ></script>
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'django_admin_action_forms/css/action_form.css' %}">
{% endblock %}


{% block bodyclass %}{{ block.super }} app-{{ app_label }} model-{{ model_name }} action-{{ action }} action-form {% endblock bodyclass %}


{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_verbose_name }}</a>
    &rsaquo; <a href="{% url 'admin:'|add:app_label|add:'_'|add:model_name|add:'_changelist' %}">{{ model_verbose_name_plural|capfirst }}</a>
    &rsaquo; {{ title }}
</div>
{% endblock %}


{% block content %}

    {% block help_text %}
        {% if help_text %}
            <p>{{ help_text }}</p>
        {% endif %}
    {% endblock help_text %}

    {% block objects_list %}
        {% if list_objects %}
            <h2>{% translate "Summary" %}</h2>
            <ul>
                <li>
                    {{ model_verbose_name_plural|capfirst }}: {{ queryset|length }}</a>
                </li>
            </ul>

            <h2>{% translate "Objects" %}</h2>
            <ul>
                {% for object in queryset %}
                <li>
                    {{ model_verbose_name|capfirst }}: <a href="{% url 'admin:'|add:app_label|add:'_'|add:model_name|add:'_change' object_id=object.pk %}">{{ object }}</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock objects_list %}

    {% block action_form %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for fieldset in fieldsets %}
                {% include "admin/includes/fieldset.html" %}
            {% endfor %}

            <input type="hidden" name="action" value="{{ action }}" />
            <input type="hidden" name="select_across" value="{{ select_across }}" />
            {% for item in selected_action %}
                <input type="hidden" name="_selected_action" value="{{ item }}" />
            {% endfor %}

            <input type="submit" value="{{ confirm_button_text }}">
            <a href="#" class="button cancel-link">{{ cancel_button_text }}</a>
        </form>
    {% endblock action_form %}
{% endblock %}
